// // Specific CSS for your home-page

.banner-home {
  background-size: cover;
  background-position: center;
  padding: 180px 0;
}

.banner-home h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-home-card {
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}

.banner-home-card #search-bar {
margin: 0 auto;
}


.card-home p {
  opacity: .5;
}

.card-home h4 {
color: green;
margin-bottom: 20px
}

.card-home {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 10px;
  border: 3px solid green;
}

.cards-home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container-home{
   width: 1000px;
  margin: auto;
}


.container-home h2{
  font-size: 38px;
  font-weight: bold;
  margin: 40px 0px 30px 0px;
  color: green
}

a {
  text-decoration: none;
  color: green
}

a:hover {
  text-decoration: none;
  color: #D6590F;
}

.text-center {
  text-align: center;
}

.home-pics {
  text-align: center;
  margin: 30px 0px 30px 50px;
  width: 120px;
  height: 120px
}

.container-home .fa-carrot {
  color:#D6590F ;
}
