.carousel-indicators > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  margin: 0px 0px 0px 0px;
  justify-content: space-between;
  // align-items: flex-start;
}



// .table td th {
// padding: 10px;
// }

// .table-responsive .col-4{
// width:10px;
// }

// .table-responsive .col-3{
// width:10px;
// }

// .table-responsive .col-2{
// width:10px;
// }
// table .col-4 {
// width:10px;
// }
#center-content{
  justify-content: center;
  margin: 60px 0 0 0;
  padding: 0
}

.table th, .table td{
  padding: 5px;
  font-size: 12px;
  vertical-align: middle;
}

.table-responsive h3{
  font-size: 20px
}

.table-responsive{
border: 2px solid green;
padding-top: 10px;
 border-radius: 20px;

}

.table-responsive h2{
	color: #3A7A34;

}

#checkout-button {
border-radius: 0px


}

.products {
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  position: relative
}

.products h2{
  font-size: 38px;
  font-weight: bold;
  color: green;
  margin: 20px 0;
  text-align: center
}


.store-infos {
  padding: 16px;
  position: relative;
}


.store-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


/*Media Queries*/

// /*Smallest device*/
// @media (min-width: 100px) and (max-width: 575px) {
//   .products-info {
//     grid-template-columns: 1fr;
//   }
//   .sidenav {
//     display: none;
//   }
// }

// /*Small devices (landscape phones, 576px and up)*/
// @media (min-width: 576px) {
//   .products-info {
//     grid-template-columns: 1fr;
//   }
//   .sidenav {
//     display: block;
//   }
// }

// /*Medium devices (tablets, 768px and up)*/
// @media (min-width: 1200px) {
//   .products-info {
//     grid-template-columns: 1fr 1fr;
//   }
//   .sidenav {
//     display: block;
//   }
// }



// .mapboxgl-popup {
//   max-width: 100px;
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
// }

// #map {
//   height: 300px;
//   width: 100%;
//   margin: 15px 0px 0px 0px;
// }

// .card-map {
//   overflow: hidden;
//   background: white;
//   height: 250px;
//   width: 200px;
// }

// .card-map > img {
//   height: 70%;
//   width: 100%;
//   object-fit: cover;
// }

// .card-map .card-map-infos {
//   padding: 12px;
//   position: relative;
// }


// .card-map h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// #navbar-product-infos{
//   background-color: green;
//   border-radius: 20px

// }



#titles-product-infos{
display: flex;
justify-content: space-between;
align-items: flex-start;
}



.nav-pills{
display: flex;
justify-content: space-around;
// background-color: green
}


.navbar .navbar-light .bg-light #navbar-example2 {
overflow: hidden;
position: sticky;
// top: 70px;

}
// #navbar-example2 {
//   background-color: green;

// }

#navbar-example2 a{
color: green;
font-size: 18px;
}

.nav-item {
  color: #3A7A34;
  //margin-left: 55px;
  padding: 10px 0px;

}


.store-section{
  padding-bottom: 30px;
  // margin-bottom: 20px;
  // border-bottom:  2px solid #F4F4F4 

}

.title-store-section{
  // margin-top: 40px;
  position: relative;
  text-align: left;
  color: orange;
  }

// .title-store-section:before{
//     background: orange;
//     content: "";
//     display: block;
//     height: 1px;
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     left: 0;
// }
.content-title-store-section{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}



h4 {
  overflow: hidden;
  text-align: center;
}

h4:before,
h4:after {
  background-color: orange;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h4:before {
  right: 0.5em;
  margin-left: -50%;
}

h4:after {
  left: 0.5em;
  margin-right: -50%;
}

#product-table th{
  font-size: 18px
}

#product-table td{
  font-size: 15px;
  vertical-align: middle;

}

