<h1>New product order</h1>


<tr>
  <th>Product</th>
  <th>Price</th>
  <th>Stock</th>
</tr>
<tr>
  <td><%= @product_order.product.name %></td>
  <td><%= @product_order.product.price %></td>
  <td><%= @product_order.quantity %></td>

</tr>
