  <div class="card-trip-infos">
<!--     <div>
 -->      <h2><%= link_to store.name.capitalize, store_path(store), class: 'link-green' %></h2>
      <p><%= store.address %></p>
<!--     </div>
    <h2 class="card-trip-pricing"><%= store.picture %>€</h2> -->
  </div>
