#carousel-item-show1 img {
  height: 400px;
  width: 100% ;
  object-fit: cover;
  // border: 2px solid green;
  border-radius: 10px
}

#carousel-item-show2 img {
  height: 400px;
   width: 100% ;
  object-fit: cover;
  // border: 2px solid green;
  border-radius: 10px
}

#carousel-item-show3 img {
  height: 400px;
  width: 100% ;
  object-fit: cover;
  // border: 2px solid green;
  border-radius: 10px
}