#carousel-item-show1 img {
  height: 400px;
  object-fit: cover;
}

#carousel-item-show2 img {
  height: 400px;
  object-fit: cover;
}

#carousel-item-show3 img {
  height: 400px;
  object-fit: cover;
}