
.card-store {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;
  height: 300px;
  width: 60vh;
  justify-content: space-around;
  border-radius: 20px;
  flex-grow:1
}

.card-store > img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

.card-store-image {
  object-fit: cover;
}
.card-store h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-store p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-store .card-store-infos {

  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.link-green {
  color: green;
}

.link-green:hover {
  color: black;
  text-decoration: none;
}



