.container-getlocal {
  background-color: white;
   width: 1100px;
  margin: auto;
  padding: 10px 30px;
}

.container-getlocal h2{
  font-size: 38px;
  font-weight: bold;
  color: green;
}

.container-getlocal-mystores {
  background-color: white;
   width: 1400px;
  margin: auto;
  padding: 10px 30px;
}
