.container-getlocal {
  background-color: white;
   width: 1100px;
  margin: auto;
  padding: 0px 30px;
}

// .container-getlocal h2{
//   font-size: 38px;
//   font-weight: bold;
//   color: green;
// }
