<div class="container-fluid">
  <h1>My stores</h1>
  <div class="content">
    <div class="cards">
      <% current_user.stores.each do |store| %>
      <div class="card-store">
        <% if cl_image_tag store.pictures.present? %>
        <% store.pictures.each do |picture| %>
        <%= cl_image_tag(picture.photo) %>
        <% end %>
        <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
        <% end %>
        <div class="card-store-infos">
          <div>
            <h2><%= link_to store.name.capitalize, store_path(store), class: 'link-green' %></h2>
            <p><%= store.address %></p>
          </div>
        </div>
      </div>
      <% end %>
      <div class="visits">
        <script type="text/javascript" src="https://www.counters-free.net/count/36fh"></script><br>
        <a href='http://www.counter-zaehler.de'>Visitors</a> <script type='text/javascript' src='https://whomania.com/ctr?id=9ed4f2178270154b1883a81a85d36525c69fb2be'></script>
      </div>
    </div>
  </div>
</div>
